/* Importar fuente Pacifico desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), 
              url('https://media.istockphoto.com/id/1197978961/vector/seamless-pattern-with-pink-pet-pawprints-and-hearts.jpg?s=612x612&w=0&k=20&c=oAFo9KLX9uAQtptrXKWbfaGXFR5Jl7NyFshRlYwjA0s=');
  background-size: cover;
  background-position: center;
  font-family: fantasy;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  color: #FF6F91;
  font-family: 'Pacifico', cursive;
  text-align: center;
  font-size: 4.5em;
  margin-top: 25px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.subtitle {
  font-size: 1.2em;
  color: #555;
  margin-top: -50px;
  margin-bottom: 40px; 
}

.product {
  background-color: #FFF1F5;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 220px;
  text-align: center;
  padding: 10px;
  transition: transform 0.2s;
  display: inline-block;
}

.product:hover {
  transform: translateY(-5px);
}

.product img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.product h2 {
  font-size: 1.2em;
  color: #333;
}

.product a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #FF6F91; 
  font-weight: bold;
}

.product a:hover {
  color: #D6457B; 
}

/* --- Estilos para el carrito --- */
#cart-container {
  position: fixed;
  top: 20px;
  right: 20px;
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  display: none;
}

#cart-container h2 {
  font-size: 1.5em;
  color: #FF6F91;
}

#cart-items {
  list-style: none;
  padding: 0;
}

.cart-item {
  font-size: 1.1em;
  color: #333;
  margin-bottom: 10px;
}

.checkout-button {
  display: block;
  background-color: #FF6F91;
  color: white;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  border-radius: 5px;
  margin-top: 10px;
}

.checkout-button:hover {
  background-color: #D6457B;
}
