body {
    background-color: /* color de fondo */;
    font-family: Arial, sans-serif; /* cambiar fuente*/
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: /* color del título */;
    text-align: center;
  }
  
  .product {
    border: 1px solid #ccc; /* cambiar color producto */
    padding: 10px;
    margin: 10px;
    text-align: center;
  }
  
  img {
    width: 200px; /* tamaño imagen */
    height: auto;
  }
  